div this is the voter directive
  h3 question title
  div(class="list-group")
  ul
    li(ng-repeat="option in options")
      label()
       input(type="checkbox" id='')

  button(ng-class="btn") Send Vote 
