div this is the voter directive
  h3  {{poll.question}}
  div(class="list-group")
    form
       label(ng-repeat="option in poll.options") {{option.optionName}}
         input(type="radio" id='' ng-value="option.optionName" name="option")

  button(ng-class="btn") Send Vote
