div(ng-include='"components/navbar/navbar.html"')
.container
  .col-md-12
   p Welcome to your dashboard
     button(ng-click='showPollForm()') New Poll

     button(ng-click='showUsersPolls()') View Polls

        .add-poll(ng-show="newPoll")
          form(ng-submit="addPoll($event)" class="form")
            label Poll Question
            input(type="text",placeholder="Add your poll question" ng-model="pollQuestion" class="form-control")
            label Options
            input(ng-repeat="option in options" type="text", ng-model="option.opt" placeholder="" class="form-control" )
            input(type="submit" value="submit")
            button(class="btn" ng-click="addOption($event)") Add another option

            button(class="btn" ng-click="removeOption($event)") Remove an option


           button(ng-click="test()") test

       .view-polls(ng-show="viewPoll")
          p this is the view polls section
          h1 polls go here
          p(ng-repeat="poll in thisUsersPolls") {{poll.question}}
          div(ng-repeat="poll in thisUsersPolls")
            voter(poll="poll")
