div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
     .col-md-4
       h1(class=".text-left") Vote Time
       h2
        span(class="glyphicon glyphicon-ok")
     .col-md-4(class="col-md-offset-2 ")
       h2(class="second-header") Gather opinions Share opinions
.container
  .row
    .col-md-10.col-md-offset-2
      h2.page-header Login or Sign-up to vote and create your own polls
  .row
    .col-md-12
      h2 Polls will appear here for non registered users to vote on
      h2 when they have voted the poll will change to a chart
  .row
    div(class="col-md-6 col-md-offset-4")
      button(class="btn" ng-click="showPolls()") See our latest polls
      div(ng-repeat="poll in polls" ng-show="seePolls")
        voter(poll="poll")
  .row
    div(class="col-md-6 col-md-offset-4")
      button(class="btn", ng-click="showResults()") Show Poll Results

      div(ng-show="seeResults" ng-repeat="data in chartData")
        highchart(config="data")
footer.footer
  .container
