div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
     .col-md-4
       h1(class=".text-left") Vote Time
       h2
        span(class="glyphicon glyphicon-ok")
     .col-md-4(class="col-md-offset-2 ")
       h2(class="second-header") Gather opinions Share opinions
.container
  .row
    .col-md-8.col-center
      h2.page-header(ng-hide="isLoggedIn") Login or Sign-up to vote and create your own polls
      h2.page-header(ng-show="isLoggedIn") Welcome  {{getCurrentUser().name}} go to vote on polls to share your opinions

  .row
      div(class="col-md-8 col-center")
       .surround
          h2(class="text-center") The results of our latest polls
          div(ng-hide="seeResults" ng-repeat="data in chartData")
            highchart(config="data")
footer.footer
  .container
