div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Vote Time

.container
  .row
    .col-lg-12
      h1.page-header Features: A blurb will be here later
  .row
    .col-md-12
      h2 Polls will appear here for non registered users to vote on
      h2 when they have voted the poll will change to a chart
      div(ng-repeat="poll in polls")
        voter
footer.footer
  .container
