div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Vote Time

.container
  .row
    .col-lg-12
      h1.page-header Features: A blurb will be here later
  .row
    .col-md-12
      h2 Polls will appear here for non registered users to vote on
      div(ng-repeat="poll in polls")
         h3 the polls with there options will go here
footer.footer
  .container
