div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
     .col-md-4
       h1(class=".text-left") Vote Time
       h2
        span(class="glyphicon glyphicon-ok")
     .col-md-4(class="col-md-offset-2 ")
       h2(class="second-header") Gather opinions Share opinions
.container
  .row
    .col-md-8.col-center
      h2.page-header(ng-hide="isLoggedIn") Login or Sign-up to vote and create your own polls
      h2.page-header(ng-show="isLoggedIn") Welcome  {{getCurrentUser().name}} you can vote on any active poll here

  .row
      div(class="col-md-8 col-center")
       .surround
          h2(class="text-center") The results of our latest polls
          div(ng-hide="seeResults" ng-repeat="data in chartData")
            highchart(config="data")
  .row
    div(class="col-md-6 col-md-offset-2" ng-show="isLoggedIn")
      .surround
        h2(class="text-center") Share your opinion by voting here
        div(ng-repeat="poll in polls" ng-hide="seePolls")
          voter(poll="poll")
footer.footer
  .container
