div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Vote Time

.container
  .row
    .col-lg-12
      h1.page-header Features: A blurb will be here later
  .row
    .col-md-12
      h2 Polls will appear here for non registered users to vote on
      h2 when they have voted the poll will change to a chart
  .row
    div(class="col-md-6 col-md-offset-4")
      button(class="btn" ng-click="showPolls()") See our latest polls
      div(ng-repeat="poll in polls" ng-show="seePolls")
        voter(poll="poll")
footer.footer
  .container
