div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
     .col-md-4
       h1(class=".text-left") Vote Time
       h2
        span(class="glyphicon glyphicon-ok")
     .col-md-4(class="col-md-offset-2 ")
       h2(class="second-header") Gather opinions Share opinions
.container
  .row
    .col-md-10.col-md-offset-2
      h2.page-header(ng-hide="isLoggedIn") Login or Sign-up to vote and create your own polls
      h2.page-header(ng-show="isLoggedIn") Welcome  {{getCurrentUser().name}} you can vote on any active poll here

  .row
    .surround
      div(class="col-md-6 col-md-offset-2")
        button(class="btn ", ng-click="showResults()") Hide Poll Results

        div(ng-hide="seeResults" ng-repeat="data in chartData")
          highchart(config="data")
  .row
    div(class="col-md-6 col-md-offset-2")
      .surround
        button(class="center-button btn text-center" ng-click="showPolls()") See our latest polls
        div(ng-repeat="poll in polls" ng-hide="seePolls")
          voter(poll="poll")
footer.footer
  .container
