div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Vote Time

.container
  .row
    .col-lg-12
      h1.page-header Features: A blurb will be here later

footer.footer
  .container
